{% extends "../templates/status/base.html" %}

{% block content %}
<span class="sectionHeading">Temp status:</span><br>
    {% for t in temps %}
       <span class="tempSensor">{{ t.name }}</span><span class="temp">{{t.temp}}</span><span class="updated"> {{t.updated}}</span><br>
    {% endfor %}
<br>
<span class="sectionHeading">Yesterdays HVAC usage:</span><br>
    {% for h in hvac_usage %}
       {{ h }} <br>
    {% endfor %}
<br>
<span class="sectionHeading">Door status:</span><br>
    {% for d in doors %}
        {{ d }} <br>
    {%endfor %}
{% endblock %}
