{% extends "../templates/status/base.html" %}
{% block heading %}Status{% endblock %}
{% block content %}
<span class="sectionHeading">Temp:</span><br>
    <table class="boxes" width="100%">
        <tbody><tr>
            {% for t in temps %}
                <td class="tempBox">
                    <span class="tempName">{{ t.name }}</span><br>
                    <span class="temp">{{t.temp}}</span><br>
                    <span class="updated"> {{t.updated}}</span><br>
                </td>
            {% endfor %}
        </tr></tbody>
    </table>
<br>
<span class="sectionHeading">Yesterdays HVAC usage:</span><br>
    {% for h in hvac_usage %}
       Heat: {{ h.heatUsage }} minutes<br> Cool: {{ h.coolUsage}} minutes <br>
    {% endfor %}
<br>

<span class="sectionHeading">Presence:</span><br>
    {% for p in presences %}
        <span class="presenceString">{{p.name}} {{p.arrived_or_left}} {{p.location}} <span class="updated"> Updated:{{p.dateTime}}</span></span><br>
    {% endfor %}
<br>

<span class="sectionHeading">Door status:</span><br>
    {% for d in doors %}
        <span class="doorName">{{ d.name }}:</span><span class="doorStatus">{{d.doorStatus}}</span><span class="updated"> Updated:{{d.updated}}</span><br>
    {%endfor %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'hms');
        data.addColumn('number', 'Outside');
        data.addColumn('number', 'Kitchen');
        data.addRows([
            {% for t in outsideTempHistory %}
                [new Date({{t.dateTime.year}}, {{t.dateTime.month}}-1,{{t.dateTime.day}},{{t.dateTime.hour}},{{t.dateTime.minute}},{{t.dateTime.second}}),{{t.temp}},null],
            {% endfor %}
            {% for t in insideTempHistory %}
                [new Date({{t.dateTime.year}}, {{t.dateTime.month}}-1,{{t.dateTime.day}},{{t.dateTime.hour}},{{t.dateTime.minute}},{{t.dateTime.second}}),null,{{t.temp}}],
            {% endfor %}
            {% for t in garageTempHistory %}
                [new Date({{t.dateTime.year}}, {{t.dateTime.month}}-1,{{t.dateTime.day}},{{t.dateTime.hour}},{{t.dateTime.minute}},{{t.dateTime.second}}),null,{{t.temp}}],
            {% endfor %}
        ]);

        var options = {
          width: 400, height: 240,
          title: 'Last 24 hours',
          interpolateNulls:true,
          strictFirstColumnType:true,    
          hAxis:{format:'k:mm'}
        };
    

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

<div id="chart_div"></div>

{% endblock %}
